<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Document</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
  <link rel="icon" href="../images/bb-icon3.ico">
</head>

<body>
  <h1 class="login-logo">
    <span>Blackboard Learn ™</span>
    <img src="/bb-logo.png" alt="" />
  </h1>
  <div class="login">
    <form id="login-page" method="POST" action="/login">
      <div>
        <input type="text" name="uid" required="true" />
        <label>Username</label>
      </div>
      <div>
        <input type="password" name="password" required="true" />
        <label>Password</label>
      </div>

      <button type="submit"><span>Sign in</span></button>
    </form>
    <div class="text">
      <h6><a href="#">View Cource Catalog</a></h6>
      <br />

      <h5>&copy; 1997-2022 Blackboard Inc. All Rights Reserved.</h5>
      <br />

      <h4>
        <span> <a href="#">Help</a></span>
        <a href="#"> Privacy and Term of Use</a>
      </h4>
    </div>
  </div>
  <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
</body>

</html>